
body {
  font-family: 'Helvetica', sans-serif;
  line-height: 1.6;
  color: #333;
  background-image: url('https://mir-s3-cdn-cf.behance.net/projects/max_808_webp/0f4db777643437.Y3JvcCw5MDAsNzAzLDAsMA.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: rgba(108, 176, 89, 0.8); 
  color: #fff;
  padding: 20px;
  border-radius: 20px 20px 0 0; 
}

header img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}

/* Estilos de navegación */
nav {
  display: flex;
  justify-content: center;
  background-color: #1dab66;
  padding: 10px;
  border-radius: 0 0 20px 20px; 
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}


footer {
  text-align: center;
  background-color: #21b137;
  color: #fff;
  padding: 10px;
}


.animated-title {
  animation: fadeInUp 1.5s ease-in-out;
}

.animated-slogan {
  animation: fadeInUp 1.5s 0.5s ease-in-out;
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}


.products-section {
  margin-top: 30px;
  background-color: #a99d1a;
  padding: 20px;
  border: 1px solid #7fc553;
  border-radius: 10px;
}

.products-section h2 {
  margin-bottom: 10px;
}

.ver-precios {
  background-color: #2b8f09; 
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}


.price-list {
  list-style-type: none;
  padding: 0;
}

.price-list li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.price-list li:last-child {
  border-bottom: none;
}

button {
  background-color: #bbb31a;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

div.oculto {
  display: none;
}

div.mostrado {
  display: block;
  background-color: white;
  border: 2px solid #007bff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

h2 {
  color: #3498db; 
  transition: color 0.3s ease; 
}

h2:hover {
  color: #e74c3c; 
  animation: rainbow 2s linear infinite; 
}

@keyframes rainbow {
  0% { color: #e74c3c; } 
  20% { color: #f1c40f; } 
  40% { color: #2ecc71; } 
  60% { color: #3498db; } 
  80% { color: #9b59b6; } 
  100% { color: #e74c3c; } 
}

p {
  color: #ffffff; 
  background-color: #f4590c; 
  padding: 10px; 
  border-radius: 5px; 
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); 
  margin: 10px 0; 
}

#products-prices {
  text-align: left;
}

.products-prices-title {
  font-size: 24px;
  color: #007BFF;
  margin-bottom: 20px;
}

.snack-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.snack-item {
  font-size: 18px;
  margin: 10px 0;
  transition: transform 0.3s ease, color 0.3s ease;
  position: relative;
}

.snack-item:hover {
  color: #FF5733;
  transform: translateX(5px);
}

.product-info {
  display: none;
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}

.products-section {
  margin-top: 30px;
  background-color: #a99d1a;
  padding: 20px;
  border: 1px solid #7fc553;
  border-radius: 10px;
}

.products-section h2 {
  margin-bottom: 10px;
}

.ver-precios {
  background-color: #2b8f09; 
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  margin-bottom: 10px;
}

.snack-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.snack-item {
  font-size: 18px;
  margin: 10px 0;
  transition: transform 0.3s ease, color 0.3s ease;
  position: relative;
}

.snack-item:hover {
  color: #FF5733;
  transform: translateX(5px);
}

.product-info {
  display: none;
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 90vw;
  z-index: 1;
  text-align: left; 
}

.snack-item:hover .product-info {
  display: block;
}

.product-info img {
  max-width: 80%; 
  height: auto;
  margin-top: 10px; 
}

.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add-to-cart img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.products-section img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
  background-color: #21b137;
  color: #fff;
  padding: 10px;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  
  nav a {
    margin: 10px 0;
  }
  
  .product-info img {
    max-width: 100%;
  }
}
